body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.parent {
  height: 100vh;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.parent > * {
  height: 10rem;
  width: 10rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  cursor: pointer;
}

.increment {
  background: rgb(90, 90, 241);
}

.decrement {
  background: rgb(202, 56, 56);
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
}

.increment:active {
  background: blue;
}

.decrement:active {
  background: red;
}
