h1 {
  background: black;
}

.parent {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

button {
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  letter-spacing: 2px;
  width: 10rem;
  height: 10rem;
  background: lightskyblue;
  border-radius: 1rem;
}
